# Node
node_modules/

# Ambiente
.env
/backend/.env
/frontend/vite-project/.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Vite cache
/dist
/.vite

# Editor, sistema
.vscode/
.idea/
.DS_Store